{% extends "website/base.html" %}
{% block body %}
    {% csrf_token %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h3>Forgotten your password?</h3></li>
        </ol>
    </nav>
    <form method="post">{% csrf_token %}
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group clearfix">
                        <label for="email" class="col-md-2 control-label text-right">Email:</label>
                        {{ form.email }}
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Reset my password">
            </div>
        </div>
    </form>

{% endblock %}
